<template>
  <div id="app">
    <div class="container">
      <h1 class="text-center text-uppercase mt-3 mb-5">About</h1>
      <h4 class="h4 mb-5 text-center">
        Al Quran Cloud - A Full Featured Quran App
      </h4>
      <div class="row mb-5">
        <div class="col-md-6 text-center">
          <img
            class="img-responsive rounded shadow-lg"
            src="../assets/masjid-pogung.jpg"
            alt
          />
        </div>

        <div class="col-md-6">
          <p class="text-secondary">
            The Al Quran Cloud is a simple web app that allows you to read and
            hear the Quran being recited by Juz, Surah or Ayah. You can also
            play the whole Quran in the browser. In addition, you can read a
            variety of translations alongside the arabic text.
          </p>
          <div class="text-secondary">
            Quran.com is a Sadaqah Jariyah. We hope to make it easy for everyone
            to read, study, and learn The Noble Quran. The Noble Quran has many
            names including Al-Quran Al-Kareem, Al-Ketab, Al-Furqan,
            Al-Maw'itha, Al-Thikr, and Al-Noor.
          </div>
        </div>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>
  import Footer from "@/components/Footer";
  export default {
    components: {
      Footer,
    },
  };
</script>

<style></style>
