<template>
  <div id="app">
    <GoBack />
    <section v-if="errored">
      <NoInet />
    </section>

    <section>
      <div class="container">
        <div class="row mt-3">
          <div class="col">
            <ol class="list-group text-right">
              <li v-for="ayah in ayahs" :key="ayah.id" class="list-group-item">
                <span class="float-right">{{ ayah.text }}</span>
                <span class="float-left">{{ ayah.numberInSurah }}.</span>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import GoBack from "@/components/GoBack";
import NoInet from "@/components/NoInet";
import axios from "axios";
export default {
  components: {
    GoBack,
    NoInet,
  },
  data() {
    return {
      base_path: "https://api.alquran.cloud/v1/surah/1",
      ayahs: null,
      errored: false,
      loading: true,
    };
  },
  mounted() {
    axios
      .get(this.base_path)
      .then((response) => {
        this.ayahs = response.data.data.ayahs;
        console.log(this.ayahs);
        console.log(response);
      })
      .catch((error) => {
        console.log(error, "errored");
        this.errored = true;
      })
      .finally(() => (this.loading = false));
  },
};
</script>

<style></style>
