<template>
  <div id="app">
    <section v-if="errored">
      <NoInet />
    </section>

    <section v-else>
      <div
        v-if="loading"
        class="container align-content-center spinner-grow text-primary"
        role="status"
      >
        <span class="sr-only">Loading...</span>
      </div>
      <div class="container">
        <p class="text-center text-uppercase my-3 font-weight-bold">
          {{ ayah["name"] }}
        </p>
        <!-- <div class="row py-3 bg-secodary">
          <div v-for="surah in surahs" :key="surah.number" class="col-md-12">
            <div class="card" style="border: none">
              <div class="card-body">
                <div class="row justify-content-between">
                  <div class="col-xs-3">
                    <div class="text-muted">
                      {{ surah["numberInSurah"] }}
                    </div>
                  </div>
                  <div class="col-xs-9">
                    <p class="card-text text-muted text-right text-uppercase">
                      {{ surah["text"] }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->

        <div
          v-for="surah in surahs"
          :key="surah.number"
          class="row justify-content-between"
        >
          <div class="col-xs-3 p-2">
            {{ surah["numberInSurah"] }}
          </div>
          <div class="col-xs-9 p-2">
            <div class="text-right">{{ surah["text"] }}</div>
          </div>
        </div>
      </div>
    </section>

    <Footer />
  </div>
</template>

<script>
  import Footer from "@/components/Footer";
  import NoInet from "@/components/NoInet";
  import axios from "axios";
  // import data from "../../data/surahs.json";

  export default {
    components: {
      Footer,
      NoInet,
    },
    data() {
      return {
        base_path: "https://api.alquran.cloud/v1/surah/",
        errored: false,
        loading: true,
        dataPrepare: "",
        surahs: null,
        ayah: "",
      };
    },
    mounted() {
      const ns = sessionStorage.getItem("ns");
      console.log(this.base_path + ns + ".json");

      axios
        .get(this.base_path + ns + ".json")
        .then((response) => {
          console.log("response :", response["data"]["data"]["ayahs"]);
          this.surahs = response["data"]["data"]["ayahs"];
          this.ayah = response["data"]["data"];
        })
        .catch((error) => {
          console.log(error);
          this.errored = true;
        })
        .finally(() => (this.loading = false));
    },
  };
</script>

<style>
</style>
