<template>
  <div class="container my-5">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h3 class="mb-3">Login</h3>
            <form @submit.prevent="LoginUser">
              <div class="form-group">
                <label for="email">Email address</label>
                <input
                  v-model="member.email"
                  name="email"
                  type="text"
                  class="form-control"
                  id="email"
                  :class="{ 'is-invalid': error.email }"
                />
                <div class="invalid-feedback" v-if="error.email">{{ error.email }}</div>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input
                  v-model="member.password"
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  :class="{ 'is-invalid': error.password }"
                />
                <div class="invalid-feedback" v-if="error.password">{{ error.password }}</div>
              </div>
              <button type="submit" class="btn btn-primary btn-block">Login</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <!-- <img src="../assets/undraw_security.svg" class="image img-fluid" alt="Responsive image" /> -->
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  beforeRouteEnter(to, from, next) {
    if (localStorage.getItem("auth")) {
      next({ path: "home" });
    }

    next();
  },
  methods: {
    LoginUser() {
      axios
        .post(this.base_path + "/user/login", this.member)
        .then(response => {
          console.log(response);
          const { status, message } = response.data;

          if (status) {
            localStorage.setItem("auth", JSON.stringify(response.data));
            this.$root.auth = response.data;
            this.$noty.success(message);
            this.$router.push("home");
          } else {
            this.$noty.error(message);
          }
        })
        .catch(error => {
          this.error = error.response.data.message;
        });
    }
  },
  data() {
    return {
      member: {
        email: "",
        password: ""
      },
      base_path: "https://filosopicoding.com/baledemy/api",
      error: {}
    };
  }
};
</script>

<style>
.card-body:hover {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.37);
  transition: all 0.3s linear;
}

.image {
  max-width: 90%;
}
</style>