<template>
  <div id="app">
    <div class="jumbotron jumbotron-fluid">
      <div class="container text-center">
        <h1 class="display-4 mb-3 font-weight-bold text-uppercase text-light">
          The Noble Quran
        </h1>
        <img src="../assets/logo-lg-w.png" />
        <div class="row mt-3">
          <div class="col-md-6 col-sm-12 col-xs-12 mx-auto">
            <input
              class="form-control mt-3"
              type="text"
              placeholder="Search..."
            />
          </div>
        </div>
      </div>
    </div>

    <section>
      <div class="container">
        <div class="row">
          <div class="col">
            <span class="text-muted">Quick link :</span>
            <span class="teal font-weight-bold">Surah Yasin (Yaseen)</span> |
            <span class="teal font-weight-bold">Surah Ar-rahman</span> |
            <span class="teal font-weight-bold">Surah Al-Mulk</span>
            <hr />
          </div>
        </div>
      </div>
    </section>

    <section v-if="errored">
      <NoInet />
    </section>

    <section v-else>
      <div
        v-if="loading"
        class="container align-content-center spinner-grow text-primary"
        role="status"
      >
        <span class="sr-only">Loading...</span>
      </div>
      <div class="container">
        <p class="text-muted text-uppercase font-weight-bold">
          Surahs (Chapter)
        </p>
        <div class="row">
          <div v-for="surah in surahs" :key="surah.id" class="col-md-4">
            <div @click="onClickDetailSurah(surah)" class="card mb-3">
              <div class="card-body">
                <h5 class="card-title teal">
                  <span>{{ surah.number }}.</span>
                  {{ surah.englishName }}
                  <span class="float-right">{{ surah.name }}</span>
                </h5>
                <p class="card-text text-muted text-uppercase">
                  {{ surah.englishNameTranslation }}
                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Asbanun Nuzul</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <Footer />
  </div>
</template>

<script>
  import Footer from "@/components/Footer";
  import NoInet from "@/components/NoInet";
  import axios from "axios";
  export default {
    components: {
      Footer,
      NoInet,
    },
    data() {
      return {
        base_path: "https://api.alquran.cloud/v1/surah",
        surahs: null,
        errored: false,
        loading: true,
        datarow: [],
      };
    },
    mounted() {
      axios
        .get(this.base_path)
        .then((response) => {
          console.log("response :", response["data"]["data"]);
          this.surahs = response.data.data;
        })
        .catch((error) => {
          console.log(error);
          this.errored = true;
        })
        .finally(() => (this.loading = false));
    },

    methods: {
      onClickDetailSurah: function (val) {
        console.log("value", val["number"]);
        sessionStorage.setItem("ns", val["number"]);

        this.$router.push({ path: "/detail-surah" });
      },
    },
  };
</script>

<style>
  .jumbotron {
    min-height: 400px;
    background-color: teal;
  }
  .teal {
    color: teal;
  }
  .blue {
    color: #007bff;
  }
  img {
    width: 200pt;
  }
</style>
