<template>
  <div class="container my-5">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h3 class="mb-3">Register</h3>
            <!-- Test Gitlab via Vscode OKE -->
            <form @submit.prevent="RegisterUser">
              <div class="form-group">
                <label for="email">Email address</label>
                <input name="email" type="text" class="form-control" id="email" />
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" />
              </div>
              <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <!-- <img src="../assets/undraw_online.svg" class="img-fluid" alt="Responsive image" /> -->
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  beforeRouteRegister(to, from, next) {
    if (localStorage.getItem("auth")) {
      next({ path: "home" });
    }
    next();
  },
  methods: {
    RegisterUser() {
      axios
        .get(this.base_path, this.member)
        .then(response => {
          console.log(response);
          console.log("Ok");

          const { status, message } = response.data;

          if (status) {
            localStorage.setItem("auth", JSON.stringify(response.data));
            this.$root.auth = response.data;
            this.$noty.success(message);
            this.$router.push("home");
          } else {
            this.$noty.error(message);
          }
        })
        .catch(error => {
          this.error = error.response.data.message;
        });
    }
  },
  data() {
    return {
      member: {
        email: "",
        password: ""
      },
      base_path: "http://localhost:3000/api/products",
      error: {}
    };
  }
};
</script>

<style>
</style>