<template>
  <div class="footer m-3">
    <section id="footer ">
      <div class="container-fluid bg-dark rounded-xl">
        <div class="row p-3">
          <div class="container mt-3">
            <div class="row">
              <div class="col-md-3">
                <h5 class="text-light text-uppercase mb-4">Navigate</h5>
                <p class="text-secondary">About</p>
                <p class="text-secondary">Contact Us</p>
                <p @click="toDev" class="text-secondary">Developer</p>
              </div>
              <div class="col-md-3">
                <h5 class="text-light text-uppercase mb-4">Useful Sites</h5>
                <p class="text-secondary">Sunah.com</p>
                <p class="text-secondary">Salah.com</p>
                <p class="text-secondary">Alquran.cloud</p>
                <p class="text-secondary">Quran.com</p>
              </div>
              <div class="col-md-3">
                <h5 class="text-light text-uppercase mb-4">Other Links</h5>
                <p class="text-secondary">Sitemap</p>
                <p class="text-secondary">Surat Yasin</p>
                <p class="text-secondary">Ayah Qursi</p>
              </div>
              <div class="col-md-3">
                <p class="text-secondary text-uppercase">
                  Qiro (Also known as the noble quran, Al quran, Holy Quran) is
                  a Future Project
                </p>
                <p class="text-secondary">© 2020 | All rights reserved</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  export default {
    data() {
      return {};
    },
    methods: {
      toDev: function () {
        alert("Syamsul Amin");
      },
    },
  };
</script>

<style>
  .rounded-xl {
    border-radius: 20px;
  }
</style>