<template>
  <div class="container mt-3">
    <span class="go-back">
      <button class="btn btn-primary">
        Go Back
      </button>
    </span>
  </div>
</template>

<script>
export default {
  methods: {
    goBack() {
      return this.$router.go(-1);
    },
  },
};
</script>
