<template>
  <div>
    <nav class="navbar my-navbar navbar-expand-lg navbar-light bg-white">
      <a class="navbar-brand" href="#">
        <img src="../assets/quran.png" style="width: 30px; height: auto" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mr-5 font-weight-bold">
          <li class="nav-item active" v-if="isAuth">
            <router-link class="nav-link" to="/home">Home</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" to="/">Qiro</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" to="/about">About</router-link>
          </li>
          <li class="nav-item" v-if="!isAuth">
            <router-link class="nav-link" to="/register">Register</router-link>
          </li>
          <li class="nav-item sa-login" v-if="!isAuth">
            <router-link class="nav-link" to="/login">Login</router-link>
          </li>
          <li class="nav-item" v-if="isAuth">
            <a class="nav-link" @click.prevent="logout">Logout</a>
          </li>
          <li class="nav-item" v-if="isAuth">
            <a class="nav-link disabled" href="#">Hi, Kaka</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- <nav class="navbar my-navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Mengaji</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
      </div>
    </nav> -->
  </div>
</template>

<script>
  export default {
    methods: {
      logout() {
        localStorage.removeItem("auth");
        this.$root.auth = {};
        this.$noty.success("Successfully logged out");
        this.$router.push("login");
      },
    },
    mounted() {},
    computed: {
      isAuth() {
        return this.$root.auth.status;
      },
    },
  };
</script>

<style>
  .my-navbar {
    box-shadow: 0px 10px 30px rgba(216, 216, 216, 0.45);
    /* position: fixed; */
    width: 100%;
  }

  .nav-link {
    border-bottom: 4px solid white;
    margin-right: 24px;
    transition: 0.3s ease;
    padding: 5px;
  }

  .nav-link:hover {
    color: black;
    border-bottom: 4px solid teal;
  }

  .nav-active a {
    color: black !important;
    font-weight: 600;
    border-bottom: 4px solid teal;
  }
  .jumbotron {
    background-color: transparent;
  }
</style>