<template>
  <div class="container text-center">
    <div class="alert alert-danger mt-3">
      <strong>We're sorry!!!</strong> we're not able to retrieve this
      information at the moment, please connect internet.
    </div>
  </div>
</template>
